<div id="page-teacher-list" class="container">
  <page-header title="Estes são os Proffys disponíveis.">
    <form [formGroup]="form" id="search-teachers">
      <app-select [parentForm]="form" controlName="subject" label="Matéria" name="subject" [options]="[
          {value: 'Artes', label: 'Artes'},
          {value: 'Matemática', label: 'Matemática'},
          {value: 'História', label: 'História'},
          {value: 'Filosofia', label: 'Filosofia'},
          {value: 'Geografia', label: 'Geografia'},
          {value: 'Química', label: 'Química'},
          {value: 'Física', label: 'Física'},
          {value: 'Biologia', label: 'Biologia'},
          {value: 'Português', label: 'Português'},
          {value: 'Educação Física', label: 'Educação Física'}
        ]"></app-select>
      <app-select [parentForm]="form" controlName="week_day" label="Dia da Semana" name="week_day" [options]="[
          {value: '0', label: 'Domingo'},
          {value: '1', label: 'Segunda-Feira'},
          {value: '2', label: 'Terça-Feira'},
          {value: '3', label: 'Quarta-Feira'},
          {value: '4', label: 'Quinta-Feira'},
          {value: '5', label: 'Sexta-Feira'},
          {value: '6', label: 'Sábado'}
        ]"></app-select>
      <app-input [parentForm]="form" controlName="time" label="Horário" name="time" type="time"></app-input>
    </form>
  </page-header>

  <main>
    <div class="info" *ngIf="loading$ | async">
      <ngx-spinner></ngx-spinner>
    </div>
    <div class="info" *ngIf="!(loading$ | async) && !(data$ | async).length">
      <h2>Nenhuma aula cadastrada</h2>
    </div>
    <teacher-item *ngFor="let l of data$ | async" [lesson]="l"></teacher-item>
  </main>
</div>