#page-teacher-list {
  height: 100vh;
  width: 100vw;
}

#search-teachers {
  margin-top: 3.2rem;
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

#page-teacher-list main {
  margin: 3.2rem auto;
  width: 90%;
}

app-select .select-container label {
  color: white;
}

#page-teacher-list .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media(min-width: 700px) {
  #page-teacher-list {
    max-width: 100%;
  }

  #search-teachers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }

  #search-teachers app-input + app-input,
  #search-teachers app-select + app-select {
    margin-top: 0;
  }

  #page-teacher-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}